<!DOCTYPE html>
<html>
<head>
  <title>Weirdy</title>
  <%= stylesheet_link_tag    "weirdy/application", :media => "all" %>
  <%= javascript_include_tag "weirdy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content" class="container">
  <%= yield %>
</div>

</body>
</html>
