body {
  font-family: "Times New Roman", Times, Helvetica, Arial, serif;
  font-size: 1em;
}

a:visited {
  color: blue;
}

em {
  font-weight: bold;
  font-style: normal;
}

.hr {
  margin: 10px auto;
  width: 95%;
  height: 0;
  border: 1px solid black;
}

tr.occurrences {
  padding-left: 20px;
}

td.kind {
  font-weight: bold;
  font-size: 0.9em;
}

td.message {
  font-style: italic;
  font-size: 0.9em;
}

td.raised_in {
  text-align: center;
  font-size: 0.9em;
}

td.kind, td.first_happened_at, td.last_happened_at, td.occurrences, td.actions {
  text-align: center;
  white-space: nowrap;
  font-size: 0.9em;
}

table { 
  border-collapse: collapse;
  width: 100%;
}

td { 
  border: 1px solid #666;
  padding: 0.5em;
}

th { 
  border: 1px solid #666; 
  padding: 5px;
  background-color: #9999ff;
}

/* Filters */

.hidden {
  display: none;
}

.container {
	margin: 0px auto;
	width: 95%;
}

.filters {
  margin: 20px 0;
  text-align: center;
}

.show, .order {
  display: inline;
  margin: 15px;
}

.show .label, .order .label {
  font-size: 1.2em;
}


/* Occurrences details */

.occurrences .actions {
  margin: 10px 0 5px 0;
  text-align: center;
}

.occurrences .data {
  overflow: scroll;
}

.occurrence .number {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.occurrence .message {
  margin-bottom: 10px;
}

.occurrence .time {
  margin-bottom: 10px;
}

.occurrence .time .label, .occurrence .message .label {
  font-weight: bold;
}

.backtrace {
  white-space: nowrap;
  margin-top: 20px;
}

.backtrace .see-more {
  margin-top: 5px;
  text-align: center;
}

.context-data .label {
  font-weight: bold;
}

h3 {
  text-align: center;
}

/* Pagination */

.pagination {
  margin-top: 25px;
  text-align: center;
}

.empty-message {
  text-align: center;
  font-weight: bold;
}


